@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
html {
  scroll-behavior: smooth;
}



@layer base {
  :root {
    --primary-blue: #0069AA;
    --accent-red: #E32726;
    --text-dark: #333333;
    --bg-light: #F5F7FA;

  }

  body {
    background: #F5F7FA;
    color: #333333

  }
}

@layer components {
  .btn-primary {
    @apply bg-[#0069AA] text-white px-6 py-2 rounded-lg hover:bg-[#005589] transition-colors cursor-pointer;
  }

  .btn-outline {
    @apply border-2 cursor-pointer border-[#0069AA] text-[#0069AA] px-6 py-2 rounded-lg hover:bg-[#0069AA] hover:text-white transition-colors;
  }

  .input-field {
    @apply w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-[#0069AA] focus:ring-1 focus:ring-[#0069AA] outline-none;
  }
  .lms-button-primary {
    @apply bg-[#0069AA] cursor-pointer text-white px-4 py-2 rounded-lg hover:bg-[#0069AA]/90 transition-colors;
  }
  .lms-button-accent {
    @apply bg-[#E32726] cursor-pointer  text-white px-4 py-2 rounded-lg hover:bg-[#E32726]/90 transition-colors;
  }
  .stat-card {
    @apply bg-white rounded-xl p-6 shadow-md hover:shadow-lg transition-shadow duration-300;
  }

  .stat-icon {
    @apply w-12 h-12 rounded-full flex items-center justify-center mb-4;
  }
  .text-lms-primary {
    @apply text-[#0069AA];
  }

  .text-lms-accent {
    @apply text-[#E32726];
  }

  .text-lms-text {
    @apply text-[#333333];
  }



}

